body
{ /* #0d1117 */
    background-color: #FAFAFA;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    transition: 0.25;
}

/* Recycle.eg principais estilos */

#recycle_header
{
    padding: 5px;
    background-color: #55A605;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
}

#recycle_header a
{
    display: inline-flex;
    margin-right: 10px;
    color: #F2F2F2;
    text-decoration: none;
}

#recycle_header #moon {
    color: #FAFAFA;
    transition:0.25;
}

#recycle_header #moon:hover {
    color: #0d1117;
    transition:0.25;
}

#recycle_container_person a
{
    color: #55A605;
    text-decoration: none;
}

#recycle_mainbody
{
    display: block;
    width: 90%;
    margin: 0px auto;
    padding-bottom: 20px;
}

#recycle_footer
{
    background-color: #55A605;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
    position: fixed;
    width: 100%;
    bottom: 0px;
    padding: 10px;
}

#recycle_header ul
{
    display: block;
    float: right;
    position: relative;
    top: -10px;
}

#recycle_header ul li
{
    display: inline-flex;
    margin-right: 10px;
    color: #F2F2F2;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.25s
}

#recycle_header ul li:hover
{
    color: #C9C9C9;
    cursor: pointer;
}

#recycle_h1, #recycle_markedh1
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #55A605;
    font-size: 38;
}
#recycle_h2
{
    font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    color: #55A605;
    font-size: 28;
}

#recycle_p
{
    font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
    color: #55A605;
    font-size: 18;
}
#recycle_button
{
    background-color: #55A605;
    color: #F2F2F2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    border-radius: 2px;
    border: none;
    transition: all .2s;
}
#recycle_button:hover
{
    transform: scale(1.1, 1.1);
}

#recycle_button_1
{
    background-color: #55A605;
    color: #F2F2F2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    border-radius: 2px;
    border: none;
}
#recycle_button_red
{
    background-color: #ff5e5e;
    color: #F2F2F2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    border-radius: 2px;
    border: none;
}
#recycle_input_normal
{
    background-color: #C9C9C9;
    border: none;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}
#recycle_nome
{
    background-color: #C9C9C9;
    border: none;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}
#recycle_sobrenome
{
    background-color: #C9C9C9;
    border: none;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}
#recycle_email
{
    background-color: #C9C9C9;
    border: none;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}
#recycle_rua
{
    background-color: #C9C9C9;
    border: none;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}
#recycle_cidade
{
    background-color: #C9C9C9;
    border: none;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}
#recycle_bairro
{
    background-color: #C9C9C9;
    border: none;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}
#recycle_estado
{
    background-color: #C9C9C9;
    border: none;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}
#recycle_cep
{
    background-color: #C9C9C9;
    border: none;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}
#recycle_input_fat
{
    background-color: #C9C9C9;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    font-size: 18px;
}
#recylce_select_normal
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #C9C9C9;
    border: none;
    padding: 5px;
}
#recylce_select_fat
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #C9C9C9;
    border: none;
    padding: 10px;
}
@media (min-width: 1200px) {
    #recylce_container_withImage
    {
        background-color: #DEF2B3;
        display: flex;
        /* max-height: 200px; */
        padding: 10px;
        margin-bottom: 10px;
    }
    #recylce_container_withImage #recycle_image_container
    {
        margin-right: 20px;
        width: 400vh;
        max-width: 300px;
        display: block;
        overflow: hidden;
    }
    #recylce_container_withImage img
    {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #recylce_container_withImage #recycle_text_container
    {
        margin-top: -20px;
        width: 100%;
        height: 100%;
    }
    
}
@media (max-width: 1200px)
{
    #recylce_container_withImage
    {
        background-color: #DEF2B3;
        display: inline-block;
        padding: 10px;
        margin-bottom: 10px;
    }
    #recylce_container_withImage #recycle_image_container
    {
        width: 100%;
        height: 240px;
        margin: 0px auto;
        display: block;
        overflow: hidden;
    }
    #recylce_container_withImage img
    {
        display: block;
        width: 100%;
        height: 100%;
        margin: 0px auto;
        object-fit: cover;
    }
}

#recycle_container_person
{
    display: block;
    width: 200px;
    font-family: 'Arial', Tahoma, Geneva, Verdana;
}

#recycle_container_person img
{
    width: 100%;
    border-radius: 100%;
    margin-bottom: -20px;
}

#recycle_container_centered
{
    text-align: center;
}

.recycle_text_centered
{
    text-align: center;
}

.recycle_content_borderBottom
{
    border-bottom: 2px solid #55A605;
}

.recycle_contentSize_small
{
    width: 20%;
}

.recycle_contentSize_medium
{
    width: 70%;
}

.recycle_contenDisplay_center
{
    display: block;
    margin: 0px auto;
}

.recyle_ul_standard
{
    /* background-color: red; */
    list-style: none;
    display: block;
    padding-left: 0px;
}

.recyle_ul_standard li
{
    margin: 5px;
    display: inline-flex;
}

.grid_cor1{
    display: block;
    background: #c9c5c5; 
    min-height: 50px; 
    padding-right: 10px;
    padding-bottom: 5px;
    margin-bottom: 10px; 
    width: 100%;
}

.grid_cor1 h2, .grid_cor1 p
{
    height: 10px;
    padding-top: 2px;
    padding-left: 15px;
}

.col-4{
    width: 60%;
    display: block; 
    margin: 0px auto;
}

.grid_cor1 span{
    font-size: 20px;
    margin-left: 65%;
}

/* History form style beginning */

 span{
     color: #55A605;
     font-weight: 200;
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

  #coleta_numero, #coleta_bairro, #coleta_rua, #coleta_pontos {
     background:none;
     border: 1px #55A605 solid;
     border-radius: 8px;
     transition: 0.25s;

 }

 section{
     margin-bottom:50px
 }

#history-form button{
  
        width: 150px;
        padding: 2px 0 0 10px;
        margin: 20px 0;
        border-color: #55a605;
        outline: none;
        font-size: 16px;
        background: rgb(255, 255, 255);
        color: #55a605;
        border-radius: 24px;
        cursor: pointer;
        display: flex;
        transition: 0.25s;
    
 }

 #history-form button:hover {
    color: white;
    background-color: #55a605;
    border-color: white;
}




/*History form style end */

/*local de coleta novo */

#localColetaSalvo{
    border-top: 1px #55a605 solid;
    padding-bottom: 20px;
}


.file-upload {
    background-color: #F2F2F2;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1FB264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .file-upload-btn:hover {
    background: #1AA059;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
  }
  
  .file-upload-content {
    /* display: none; */
    text-align: center;
  }
  
  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  
  .image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed #1FB264;
    position: relative;
  }
  
  .image-dropping,
  .image-upload-wrap:hover {
    background-color: #1FB264;
    border: 4px dashed #ffffff;
  }
  
  .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
  }
  
  .drag-text {
    text-align: center;
  }
  
  .drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #15824B;
    padding: 60px 0;
  }
  
  .file-upload-image {
    height: 180px;
    width: 180px;
    align-self: center;
    border-radius: 100%;
    margin: 2.3rem auto 2.5rem auto;
    overflow: hidden;
    position: relative;
  }
  
  .remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;}
    .file-upload{
        width: 100% !important;
        padding: 0;
    }