/* Recycle.eg principais estilos */

#recycle_h1, #recycle_markedh1
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #55A605;
    font-size: 38;
}
#recycle_h2
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #55A605;
    font-size: 28;
}
#recycle_p
{
    font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
    color: #55A605;
    font-size: 18;
}
#recycle_button
{
    background-color: #55A605;
    color: #F2F2F2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    border-radius: 2px;
    border: none;
}
#recycle_input_normal
{
    background-color: #C9C9C9;
    border: none;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}
#recycle_input_fat
{
    background-color: #C9C9C9;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    font-size: 18px;
}
#recylce_select_normal
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #C9C9C9;
    border: none;
    padding: 5px;
}
#recylce_select_fat
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #C9C9C9;
    border: none;
    padding: 10px;
}