.header{
    background-image:  url(img/back.png);
    background-repeat: repeat-x;
    background-size:contain;
    backface-visibility:hidden;
    margin-bottom: 20px;
    height: 150px;
    }

    .prin_area{
    height: 400px;
    width: 100%;
    margin-left: 10px;
    padding: 20px;
  
    margin-bottom: 50px;
    
    }
    .maps{
        background-image:  url(img/maps.png);
        height: 400px;
        margin-left: 80px;
        margin-bottom:50px ;
    }
    .titul{
        margin-left: 70px;
    }
    .p1{
        margin-left: 200px;
        width: 50px;
        margin-top: 50px;
    }

.logo{

height: 110px;
width: 120px;
margin-left: -11px;

}
.logot{
    margin-top: 10px;
    margin-bottom: 20px;
    height: 100%;
    width: 100%;
}
.menu1{
    align-items: center;
}
.menu1 a{
    margin-top: 110px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: rgb(2, 67, 245);
    color: rgb(255, 255, 255);
}
.nav-link{
margin-right: 5px;
}
.footer_area{
    padding-top:20px ;
    margin-top:50px;
   background-color: black;
    color: rgb(245, 234, 234);

}
