.header{
    background-image:  url(img/back.png);
    background-size:contain;
    backface-visibility:hidden;
    margin-bottom: 20px;
    height: 150px;
    }

.logo{

height: 110px;
width: 120px;
margin-left: -11px;

}
.logot{
    margin-top: 10px;
    margin-bottom: 20px;
    height: 100%;
    width: 100%;
}

.menu1 a{
    margin-top: 110px;
    padding-left: 5px;
    padding-right: 4px;
    background-color: rgb(2, 67, 245);
    color: rgb(255, 255, 255);
    
}
.nav-link{
margin-right: 5px;

}
.footer_area{
    padding-top:20px ;
    margin-top:50px;
   background-color: black;
    color: rgb(245, 234, 234);

}
prin_area{
    margin-left: 90px;
}
    

.titul{
    margin-left: 300px;
}